.main-page {
  background: var(--main-black);
  background-image: linear-gradient(
      90deg,
      #171717f1 6%,
      rgba(2, 2, 2, 0.58) 32%,
      rgba(23, 23, 23, 0.21) 57%,
      rgba(11, 10, 10, 0) 110%
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/100/039/original/mainbackground.png?1697047663);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 1160px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.main-page-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 40px;
}
.main-page-text-container {
  margin-top: 120px;
  margin-bottom: 100px;
}
.main-page-title {
  color: var(--main-blue);
  font-family: var(--accent-font);
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.main-page-name {
  color: var(--main-white);
  font-family: var(--accent-font);
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}
.main-page-paragraph {
  color: var(--main-white);
  font-size: 1.4em;
  font-weight: 100;
  line-height: 120%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  letter-spacing: 0.2rem;
  font-weight: 500;
  outline: none;
  color: var(--main-white);
  background: var(--main-black);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    90deg,
    #4000ff,
    #004cff,
    #fffb00,
    #d9ff00,
    #002bff,
    #00b3ff,
    #ccff00,
    #bbff00,
    #4000ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(2px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: var(--main-black);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #0c2f8f 2.03%,
    #2b72a5 50.1%,
    #e5c525 103.21%
  );
  left: 0;
  top: 0;
  border-radius: 10px;
}
.main-screen-picture {
  max-width: 100%;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 1160px) {
  .main-screen-picture {
    display: none;
  }
  .main-page-paragraph {
    max-width: 60%;
  }
  .wrapper {
    max-width: 80%;
  }
  .main-page {
    background-image: linear-gradient(
        90deg,
        #17171734 6%,
        rgba(2, 2, 2, 0.393) 32%,
        rgba(8, 8, 8, 0.21) 57%,
        rgba(5, 5, 5, 0) 110%
      ),
      url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/100/039/original/mainbackground.png?1697047663);
  }
}
@media only screen and (max-width: 912px) {
  .main-page-text-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .main-page-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
  }
  .main-page-name {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4em;
  }
  .main-page-paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 70%;
    font-size: 1em;
  }
  .main-page-text-container {
    margin-top: 180px;
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 860px) {
  .main-page-title {
    font-size: 1.5em;
  }
  .main-page-name {
    font-size: 4em;
  }
}
@media only screen and (max-width: 700px) {
  .main-page-title {
    font-size: 1.2em;
  }
  .main-page-name {
    font-size: 2.4em;
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .main-page-text-container {
    margin-top: 100px;
    margin-bottom: 200px;
  }
  .main-page-title {
    font-size: 1.2em;
    margin-bottom: 24px;
  }
  .main-page-name {
    font-size: 2.2em;
    width: 100%;
  }
  .main-page-paragraph {
    margin-bottom: 120px;
  }
  .glow-on-hover {
    width: 100%;
    height: 56px;
  }
}
@media only screen and (max-width: 299px) {
  .main-page-title {
    font-size: 1.2em;
    margin-bottom: 24px;
  }
  .main-page-name {
    font-size: 1.6em;
    max-width: 100%;
  }
}
