$main-white: #fff;
$main-blue: #007bff;

nav {
  background: rgba(29, 26, 26, 0.29);
  backdrop-filter: blur(5px);
  margin: 0 auto;
  padding: 0;
  width: 100%;

  .navbar-content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 4px;
    padding-bottom: 4px;

    .logo-left .logo {
      max-width: 100px;
      margin-right: 50px;
    }
  }
}

.navbar {
  padding: 10px 0px;

  a {
    margin-right: 24px;
    font-weight: 200;
    font-size: 1em;
    color: $main-white;
    
    &:hover {
      color: $main-blue;
    }
  }
  
  .menu-options {
    margin-left: auto;
  }
  
  .language-switch-btn {
    padding: 2px 16px;
    border-radius: 12px;
    font-size: 0.8em;
    border: 1px solid $main-blue;
    color: $main-white;
    background-color: transparent;
    transition: all ease-in-out 300ms;
    margin: 0;

    &:hover {
      color: $main-white;
      background-color: $main-blue;
      border: 1px solid $main-blue;
    }
  }
  
  .navbar-toggler {
    margin-right: 2px;
  }
}

.transparent {
  width: 900px;
}

@media only screen and (max-width: 1160px) {
  .transparent {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  nav .logo-left .logo {
    display: none;
  }
  
  .navbar-toggler {
    margin-right: 2px;
  }
  
  .navbar-nav {
    text-align: center;  
  }
  
  .language-switch-btn {
    margin-top: 10px; 
  }
}
