$main-white: #fff;
$main-blue: #007bff;
$nav-contents-min-width: 140px;

nav {
  background: rgba(29, 26, 26, 0.29);
  backdrop-filter: blur(5px);
  margin: 0 auto;
  padding: 0;
  width: 100%;

  .navbar-content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 4px;
    padding-bottom: 4px;

    .logo-left .logo {
      max-width: 100px;
      margin-right: 50px;
    }
  }
}

.navbar {
  padding: 10px 0px;
  position: relative;

  a {
    margin-right: 24px;
    font-weight: 200;
    font-size: 1em;
    color: $main-white;

    &:hover {
      color: $main-blue;
    }
  }

  .menu-options {
    margin-left: auto;
  }

  .language-switch-btn {
    max-width: 70px;
    max-height: 40px;
    padding: 2px 16px;
    border-radius: 12px;
    font-size: 0.8em;
    border: 1px solid $main-blue;
    color: $main-white;
    background-color: transparent;
    transition: all ease-in-out 300ms;
    margin: 0;
    margin-left: 12px;

    &:hover {
      color: $main-white;
      background-color: $main-blue;
      border: 1px solid $main-blue;
    }
  }
}

.transparent {
  width: 900px;
}

@media only screen and (max-width: 1160px) {
  .transparent {
    width: 200px;
  }
  .navbar a {
    margin-right: 0;
  }
  .language-switch-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 980px) {
  .transparent {
    width: 400px;
  }
  .navbar a {
    margin-right: 0;
  }
  .language-switch-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 680px) {
  .transparent {
    width: 180px;
  }
  .navbar a {
    margin-right: 0;
  }
  .language-switch-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 520px) {
  .transparent {
    width: 100px;
  }
  .navbar a {
    margin-right: 0;
  }
  .language-switch-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .transparent {
    width: 90px;
  }
  .navbar a {
    margin-right: 0;
  }
  .language-switch-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .transparent {
    width: 80px;
  }
  .navbar a {
    margin-right: 0;
  }
  .language-switch-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .transparent {
    width: 40px;
  }
  .navbar a {
    margin-right: 0;
  }
  .language-switch-btn {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 299px) {
  .transparent {
    display: none;
  }
  .navbar a {
    margin-right: 0;
  }
  .logo-left .logo {
    display: none;
  }
}
