.donation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  background-color: #242323;
}
.donation-card {
  width: 400px;
  height: 400px;
  color: var(--main-white);
  background-color: var(--main-black);
  border-radius: 20px;
  box-shadow: 0px 16px 40px 0px #373737;
}
.donation-current {
  color: var(--main-black);
  background: linear-gradient(
    90deg,
    #0109a2 3.77%,
    #396cc4 54.99%,
    #8b9672 79.03%,
    #f5cd09 113.87%
  );
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  padding: 16px;
}
.donation-current-header {
  font-size: 28px;
  color: var(--main-white);
  font-weight: 600;
}

.donation-current-descr {
  font-size: 18px;
  color: var(--main-yellow);
  font-weight: 600;
}
.donation-current-button {
  background-color: var(--main-black);
  padding: 8px;
  border-radius: 12px;
  display: flex;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);

}
.donation-current-button:hover {
  background-color: #242323;
}
.donation-current-img {
  max-width: 40px;
  border-radius: 4px;
}
.donation-current-button-text {
  color: var(--main-white);
  font-size: 16px;
  margin:auto;
  letter-spacing: 0.4rem;
  font-weight: 600;
  outline: none;
  color: var(--main-white);
}
