.numbers-wrapper {
  /* background: linear-gradient(90deg, #171717 30%, #f5cd09 0%); */
 background-color: var(--main-black);
  padding-top: 40px;
  padding-bottom: 40px;
}
.number-each {
  color: aliceblue;
  border: 1px solid var(--main-white);
  border-radius: 12px;
  padding: 4px;
  grid-gap: 40px;
  max-width: 100%;
}
